<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<a href="#{{c "lang"}}" class="brand">{{t "navbar.title"}}</a>

<div class="nav-collapse">
    <ul class="nav">
        <li class="active">
            <a href="#{{c "lang"}}"><i class="icon-home"></i> {{t "navbar.home"}}</a>
        </li>
        <li>
            <a href="http://github.com/osama-ibrahim/modern-webapp-example" target="_blank"><i class="icon-book"></i> {{t "navbar.about"}}</a>
        </li>
    </ul>

    <ul class="nav pull-right nav-lang">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="flag-icon"><i class="flag flag-{{c "lang"}}"></i></span>
                {{t "navbar.language"}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {{#each langs}}
                    <li data-lang="{{code}}">
                        <a href="#{{code}}/{{../fragment}}"><span class="flag-icon"><i class="flag flag-{{code}}"></i></span> {{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
